/* ===== Global Styles ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", sans-serif;
  background-color: rgba(255, 255, 204, 1);
}

img {
  width: 100%;
  object-fit: contain;
}

.products {
  width: 300px;
  padding: 1rem;
  background-color: rgba(255,255,255, 1);
  box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products__box {

}

.product__image > img {
  height: 170px;
  border-radius: 8px;
}

.product__info > p {
  margin-bottom: 8px;
}

.product__details {
  font-weight: bold;
}




/* Colors to copy and paste:
Yellow background: rgba(255, 255, 204, 1);
Yellow: rgba(255, 255, 126, 1);
Purple: rgba(154, 18, 179, 1);
White: rgba(255,255,255, 1);
For box shadow: rgba(0,0,0, 0.4); */
